.photo {
    height: 450px;
    width: 50px;
}

footer {
    position: fixed;
    bottom: 0;
    display: block;
    width: 100%;
    padding: 0px !important;
    /* same size as header */
}

.bordered-active {
    border-bottom: 3px solid #fff;
}

.navbar-item {
    margin-bottom: 5px;
}

.navbar-button {
    margin-bottom: 5px;
    color: black;
}

.column.is-flex {
    display: flex;
    font-weight: bold;
    font-size: 24px;
    color: rgba(0, 0, 2, 0.76);
    width: 100%;
    margin: 9px;
    box-shadow: 2px 2px 8px 0px rgba(0, 5, 25, .3);
}

.field {
    display: flex;
    flex: 0 0 100%;
    width: 180%;
}


/* menu styling */

.column.is-flex {
    display: flex;
    font-weight: bold;
    font-size: 24px;
    color: rgba(0, 0, 2, 0.76);
    width: 100%;
    margin: 9px;
    box-shadow: 2px 2px 8px 0px rgba(0, 5, 25, .3);
}

.field {
    display: flex;
    flex: 0 0 100%;
    width: 180%;
}


/* set pick up time */

.set_pickup_time {
    display: flex;
    flex-direction: column;
}

.pickup_time {
    display: flex;
    flex-direction: column;
    margin-top: 3%;
    margin-left: 5%;
    width: 15vw;
}

.pickuptime_title {
    font-size: medium;
}


/* item styling */

.item_s {
    display: flex;
    color: grey;
    flex-direction: column;
    column-gap: 25px;
    font-weight: bolder;
    height: 75px;
    box-shadow: 1px 2px 10px 0 rgba(0, 5, 25, .3);
    margin: 9px;
    padding-left: 10px;
    padding-top: 10px;
    justify-content: space-around;
    flex-wrap: wrap;
}

.pickUp_btn {
    margin-right: 15px;
    border-radius: 15px;
    padding: 15px;
    border: lightgray 2px solid;
    box-shadow: 1px 2px 10px 0 rgba(0, 5, 25, .3);
    font-weight: bold;
}

.delivery_btn {
    background-color: #ff8400;
    border-radius: 15px;
    padding: 15px;
    border: #ff8400 2px solid;
    font-weight: bold;
}

.delivery_btn a {
    color: #fff;
    text-decoration: none;
}

.item_container {
    display: flex;
    flex-direction: column;
}

h5 {
    display: flex;
    color: rgb(10, 10, 10);
    flex-wrap: wrap;
    justify-content: space-between;
    font-weight: bold;
    font-size: 18px;
}

h2 {
    font-size: 18px;
}

.Collapsible__contentInner {
    display: flex;
    flex: 0 0 100%;
    width: 180%;
}

.Collapsible__contentOuter {
    display: flex;
    flex-wrap: wrap;
    width: 180%;
}

.container {
    padding-top: 5%;
}


/* instagram link */

.instagram_link_color {
    color: white;
}


/* signin */

.signin {
    height: 70vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial;
}

.signin_container {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 30px;
    font-weight: bold;
    justify-content: space-between;
}

.signin_textBox {
    padding: 4px;
    font-size: 15px;
    margin-bottom: 10px;
    color: black;
}

.email_box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.password_box {
    display: flex;
    flex-direction: column;
}

.btns {
    display: flex;
    flex-direction: column;
}

.signin_btn {
    padding: 10px;
    font-size: 18px;
    margin-bottom: 10px;
    border: none;
    color: white;
    background-color: black;
}

.signin_google {
    background-color: #4285f4;
}

.signin div {
    margin-top: 7px;
}

.editBtn, .paymentBtn{
    background-color: black;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 12px;
    font-weight: bold;
}

.editText{
    width: 100%;
}

/* Profile */


.profile_btns{
    text-align: center;
}

/* signup */

.signup_divTF, .profile_divTF{
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 20px;
}
.signup_textBox{
    width: 20%;
    display: block;
    margin: 20px;
}
.signup_fields{
    text-align: center;
}
.createAccount_header, .profile_header{
    text-align: center;
    font-weight: bold;
    margin-top: 60px;
    font-size: 30px;
}


.signup_btn {
    padding: 15px;
    font-size: 18px;
    margin-bottom: 15px;
    margin-top: 15px;
    border: none;
    color: white;
    background-color: black;
    width: 15%;
    border-radius: 15px;

}

.signup_google {
    background-color: #4285f4;
}



/* Password Reset */

.resetpassword {
    align-items: center;
    padding: 200px;
    padding-left: 490px;
    width: 83%;
}

.password_container {
    box-shadow: 6px 6px 8px 2px rgba(0.3, 0, 0, 0.6);
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 30px;
    font-weight: bold;
    height: 200px;
    justify-content: space-between;
}

.email {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
}

.email_textBox {
    padding: 6px;
    font-size: 15px;
    margin-bottom: 10px;
    color: black;
}

.submit_btn {
    padding: 6px;
    font-size: 18px;
    margin-bottom: 10px;
    border: none;
    color: white;
    background-color: black;
}


/* Cart */

.add {
    display: flex;
    flex-direction: row;
    align-content: flex-start;
}


/* search bar */

.searchmenu {
    /* font-family: Font Awesome; */
    width: 10vw;
    padding-left: 2%;
    border-radius: 2%;
}